<% provide(:title, "About us") %>

  <head>
<title><%= yield(:title) %> </title>
</head>

<body>
<h1>This is What We are</h1>

<p>
The World Tourism
in this <a href="https://world-tourism-jalsanishant.c9.io/static_pages/wonderland"><em>wonderland</em></a> is a blessing opportunity to make your dreams instantly true with luxuries of
<a href="https://world-tourism-jalsanishant.c9.io/static_pages/hotels">hotels</a> and
<a href="https://world-tourism-jalsanishant.c9.io/static_pages/varitiesoffood">varities of food</a>
to reach your highest level of rejoice and happiness.

</p>
</body>
