<% provide(:title, "About Places") %>

    <head>
<title><%= yield(:title) %> </title>
</head>

<body>
<h1>About the locations</h1>

<p>

<p><u>Argentina</u> : Argentina is a massive South American nation with terrain encompassing Andes mountains, glacial lakes and Pampas grassland, the traditional grazing ground of its famed beef cattle. The country is known for tango, steak and football. Its big, cosmopolitan capital, Buenos Aires, is centered on the 16th-century Plaza de Mayo, lined with stately buildings including Casa Rosada, the iconic, balconied presidential palace.</p>
<p><u>Algeria</u> : Algeria, officially People's Democratic Republic of Algeria, is a country in North Africa on the Mediterranean coast. Its capital and most populous city is Algiers, located on the northern part of Algeria. Wikipedia</p>
<P><u>United States</u> : The U.S. is a country of 50 states covering a vast swath of North America, with Alaska in the extreme Northwest and Hawaii extending the nation’s presence into the Pacific Ocean. Major cities include New York, a global finance and culture center, and Washington, DC, the capital, both on the Atlantic Coast; Los Angeles, famed for filmmaking, on the Pacific Coast; and the Midwestern metropolis Chicago.</P>
<p><u>India</u> : India is a vast South Asian country with diverse terrain – from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia. In the north, Mughal Empire landmarks include Delhi’s Red Fort complex, massive Jama Masjid mosque and Agra’s iconic Taj Mahal mausoleum. Pilgrims bathe in the Ganges in Varanasi, and Rishikesh is a yoga center and base for Himalayan trekking.</p>


</p>
</body>
