 <% provide(:title, "Contact us") %>

   <head>
<title><%= yield(:title) %> </title>
</head>
<body>
<h1>Contact</h1>

<p>
<p>Name   : xyz</p>
<p>email  : xyz@xyz.com</p>
<p>ph no  : xxx-xxx-xxxx</p>
<p> </p>
   <p> For  questions regarding trip plan, email is prefered </p>
</p>

</body>
