<% provide(:title, "Here") %>

   <head>
<title><%= yield(:title) %> </title>
</head>

<body>
<h1>Countries Where we Trip</h1>

<p>
<p>Argentina &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Mongolia &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Norway </p>      
<p>Algeria &nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp France &nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp Sweden</p>        
<p>Austria &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp Germany &nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp Denmark</p>        
<p>Belarus &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbspRomania &nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp United States</p>
<p>Canada &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbspTurkey &nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Thailand</p>
<p>India &nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp Malaysia &nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp Poland</p>
<p>Kazakhstan &nbsp &nbsp&nbsp&nbsp&nbsp Switzerland &nbsp &nbsp&nbsp&nbsp&nbsp Greece</p>


</p>
</body>
