<% provide(:title, "Home") %>

<head>
  <title><%= yield(:title) %> </title>

</head>
<body>
<h1>World Tourism</h1>
<p>
  Welcome to the dreams of World Tour. Just Plan where you want to go right now      
<a STYLE="text-decoration:none"href="https://world-tourism-jalsanishant.c9.io/static_pages/here"> here. </a>
</p>

<p>

<a STYLE="text-decoration:none"href="https://world-tourism-jalsanishant.c9.io/static_pages/help"> Help &nbsp </a>

<a STYLE="text-decoration:none"href="https://world-tourism-jalsanishant.c9.io/static_pages/about"> About us &nbsp </a>

<a STYLE="text-decoration:none"href=https://world-tourism-jalsanishant.c9.io/static_pages/contact"> Contact us </a>

</p>



</p>
</p>
</body>
