<% provide(:title, "Hotels") %>

   <head>
<title><%= yield(:title) %> </title>
</head>

<body>
<h1>Luxurious Hotels</h1>
<p>

<p>Taj</p>
<p>Sheraton</p>
<p>Fortune Kences</p>
<p>Barbeque Nation</p>
<p>Sigri</p>






</p>
</body>
