<% provide(:title, "Varities of Food") %>

   <head>
<title><%= yield(:title) %> </title>
</head>

<body>
<h1>Food Menu on your Board</h1>
<p>

<p>Chicken curry</p>
<p>Butter chicken masala</p>
<p>Chicken Tikka</p>
<p>Mutton keema</p>
<p>Prawn masala</p>
<p>Malai Kufta Veg</p>
<p>Veg mix masala</p>






</p>
</body>
