<% provide(:title, "Wonderland") %>

   <head>
<title><%= yield(:title) %> </title>
</head>

<body>
<h1>Connect Everywhere</h1>
<p>

Make your dreams fulfilled on this splendid earth






</p>
</body>
